<table class="table table-hover">
    <thead>
    <tr>
        <td>Firstname</td>
        <td>Lastname</td>
        <td>Email</td>
        <td>Phone</td>
        <td colspan="2">Actions</td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let coin of coins">
            <td>{{ coin.user_firstname }}</td>
            <td>{{ coin.user_lastname }}</td>
            <td>{{ coin.user_email }}</td>
            <td>{{ coin.user_phone }}</td>
            <td><a [routerLink]="['/edit', coin.user_id]" class="btn btn-primary">Edit</a></td>
        </tr>
    </tbody>
  </table>