<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Coin Name</label>
        <input type="text" class="form-control" formControlName="name" #name [(ngModel)] = "coin.user_firstname"/>
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Coin Price</label>
        <input type="text" class="form-control" formControlName="price" #price [(ngModel)] = "coin.user_lastname" />
      </div>
      <div *ngIf="angForm.controls['price'].invalid && (angForm.controls['price'].dirty || angForm.controls['price'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['price'].errors.required">
          Price is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Email</label>
        <input type="text" class="form-control" formControlName="email" #email [(ngModel)] = "coin.user_email" />
      </div>
      <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['email'].errors.required">
          Price is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Phone</label>
        <input type="text" class="form-control" formControlName="phone" #phone [(ngModel)] = "coin.user_phone" />
      </div>
      <div *ngIf="angForm.controls['phone'].invalid && (angForm.controls['phone'].dirty || angForm.controls['phone'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['phone'].errors.required">
          Price is required.
        </div>
      </div>
        <div class="form-group">
          <td><button (click)="updateCoin(name.value, price.value, email.value, phone.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Update</button></td>
          <td><button (click)="deleteCoin(coin.user_id)"  class="btn btn-danger">Delete</button></td>
        </div>
    </form>
  </div>
</div>